apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings-deploy
  namespace: cdps-19
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
      - name: ratings
        image: cdps-ratings:g19
        ports:
        - containerPort: 9080
